.label1 {
  font-size: 24px;
  margin-left: 20px;
  margin-top: 20px;
}

.select {
  border: none;
  border-radius: 40px;
  font-size: 24px;
  appearance: menulist;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
}

.select:focus,
.select:hover,
.select:active {
  border: none;
}

button {
  margin: 15px 20px;
}
